@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  background-color: #e0dddd;
  font-family: Open Sans;
}

.icici_container {
  width: 960px;
  background-color: #f6f6f6;

  .icici_nav {
    color: #fff;
  }
  .icici_logo {
    display: block;
    margin: 2px 0px 11px 15px;
  }
  .icici_border {
    height: 50px;
    background: linear-gradient(180deg, #f58f22 1.19%, #ef6712 100%);
  }
  .icici_wrapper {
    background-color: #f6f6f6;

    .icici_info_wrapper {
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      margin: 21px 30px 24px;
      border-radius: 10px;
      border: 1px solid #cfd7ed;
      background: #fff;
      box-shadow: 0px 2px 8px 0px rgba(222, 227, 242, 0.4);

      .icici_wrapper_header {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 21px 0 8px 0;

        .icici_success_title {
          margin: 0 5px 0 18px;
          color: #4a4a4a;
          text-align: center;
          font-size: 18px;
          font-weight: 700;
        }
      }
      .icici_success_info {
        color: #414141;
        text-align: center;
        font-size: 16px;
        line-height: 24px;
      }
      .icici_request_confirmation {
        margin: 20px 0 15px 0;
        padding: 18px 30px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 15px;
        border-radius: 5px;
        border: 0.5px solid #e9e9ea;
        background: #fff6ed;
        color: #000;
        text-align: center;

        .icici_del_info {
          font-size: 12px;
          line-height: 22px;
        }
      }
      .icici_customer_care {
        font-size: 12px;
        line-height: 22px;

        .icici_email {
          color: #004a7f;
          font-weight: 600;
          line-height: 22px;
        }
      }
      .icici_dashboard_btn {
        margin: 30px 0;
        padding: 13px 20px;
        border-radius: 20px;
        background: #f27b1a;
        color: #fff;
        text-align: center;
        font-family: Open Sans;
        font-size: 12px;
        font-weight: 700;
        letter-spacing: 0.5px;
        text-transform: uppercase;
        outline: none;
        border: 0;
      }
    }
  }
}
